@import '../sass/variables';

.project-picture-container {
  position: relative;
  flex: 0 0 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 1.25rem;

  .more-options {
    left: 100%;
    top: 100%;
    padding: 2rem;
    width: 30rem;
  }

  .project-privacy {
    &__header {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: 1.4rem;
    }
  }

  .info-icon {
    position: absolute;
    right: 0;
    top: 75%;
  }
}

.project-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  cursor: auto;
}

.dropdown-icon {
  width: 1.5em;
  height: 1.5em;
  stroke: $color-gray-extra-light;
}

.options-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-extra-light;
  }
}

.add-user-icon {
  width: 2.25em;
  height: 2.25em;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
  
  path {
    fill: $color-gray-dark;
  }

  &:hover {
    background-color: $color-gray-extra-light;
  }
}

.remove-user-icon {
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  padding: .75rem;
  border-radius: 50%;

  &:hover {
    background-color: $color-gray-extra-light;
  }
}

.checkmark-icon {
  height: 2em;
  width: 2em;
  fill: $color-gray-medium;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  width: 1.5em;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;

  &:active {
    transform: scale(.97);
  }
}

.list-icon {
  height: 1.5em;
  width: 1.5em;
}

.select-option-icon {
  height: 1.5em;
  width: 1.5em;
  margin-right: 1rem;
  cursor: pointer;
}

.progress-in-progress {
  padding: .15rem;
  path {
    fill: $color-blue-light;
  }
}

.priority-low {
  fill: $color-blue-light;
}

.priority-medium {
  fill: $color-green-dark;
}

.priority-high {
  fill: $color-red-light;
  stroke: #fff;
}

.priority-urgent {
  fill: $color-red-light;
}

.no-results {
  padding: .5rem 0 .5rem 1rem;
}

.select-option-icon--comment {
  fill: $color-gray-medium;
}

.btn-light {
  display: inline-block;
  background-color: #fff;
  color: $color-gray-dark;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 500;
  border: 1px solid $color-gray-light;
  box-shadow: $box-shadow-button;
  padding: .75rem 1.75rem;
  cursor: pointer;
  transition: all .1s;

  &:hover,
  &:active {
    background-color: $color-gray-extra-light;
  }

  &:active {
    transform: scale(.98);
  }
}

.favorite-icon {
  height: 1.1em;
  width: 1.1em;
  cursor: pointer;
  transform: translateY(-.35rem);
}

.non-favorite-icon {
  height: 1.1em;
  width: 1.1em;
  cursor: pointer;
  transform: translateY(-.35rem);
}