.project-picture {
  flex: 0 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  width: 6rem;
  height: 6rem;
  margin: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.dropdown-icon {
  width: 1.25em;
  height: 1.25em;
}

.options-icon {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;

  &:hover {
    background-color: $color-gray-extra-light;
  }
}