$color-gray-dark: #414345;
$color-gray-medium: #5f5f5f;
$color-gray-light: #e0e0e0;
$color-gray-extra-light: #f3f3f3;
$color-green-dark: #318456;
$color-green-light: #62ab83;
$color-red-dark: #a31a02;
$color-red-light: #db0033;
$color-blue-light: #2b71db;
$box-shadow-primary: 0px 2px 7.2px 0px rgba(0, 0, 0, 0.18), 0px 0.6px 1.8px 0px rgba(0, 0, 0, 0.11);
$box-shadow-primary-hover: 0px 0px 0.1px 1px #edebe9, 
                            0px 6.4px 14.4px 0px rgba(0, 0, 0, 0.18), 
                            0px 1.2px 3.6px 0px rgba(0, 0, 0, 0.11);

$box-shadow-dark: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);                            

$box-shadow-button: 0px 2px 4px 0px rgba(0, 0, 0, 0.1), 0px 0.6px 1px 0px rgba(0, 0, 0, 0.11);

$navbar-height: 5rem;