$color-gray-dark: #414345;
$color-gray-light: #d4d4d4;
$color-gray-extra-light: #f3f3f3;
$color-green: #187c18;

$box-shadow-primary: 0px 3.2px 7.2px 0px rgba(0, 0, 0, 0.18), 0px 0.6px 1.8px 0px rgba(0, 0, 0, 0.11);
$box-shadow-primary-hover: 0px 0px 0.1px 1px #edebe9, 
                            0px 6.4px 14.4px 0px rgba(0, 0, 0, 0.18), 
                            0px 1.2px 3.6px 0px rgba(0, 0, 0, 0.11);