@import '../sass/variables';

.board-list {
  font-size: 1.4rem;
  width: 31rem;
  border-radius: .1rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
  min-height: 0;
  max-height: 100%;
  display: block;

  &__top {
    padding-right: 2rem;
    padding-left: 1rem;
  }

  &__bottom {
    padding: 1rem;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    .options-icon {
      opacity: 0;
    }

    &:hover {
      .options-icon {
        opacity: 1;
      }
    }

    .more-options {
      top: 3rem;
      right: 0;
    }

  }

  &__name,
  .name-change-form {
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__name {
    flex: 1;
    padding: .5rem 1rem .5rem .5rem;
    cursor: pointer;
  }
}


.add-icon {
  width: 1.75em;
  height: 1.75em;
  margin-left: .3rem;
  margin-right: 1rem;
}


.board-task-add-button {
  position: relative;
  display: flex;
  align-items: center;
  padding: .75rem;
  color: $color-green-dark;
  background-color: #fff;
  margin-bottom: 3rem;
  box-shadow: $box-shadow-primary;
  cursor: pointer;
  z-index: 2;

  &:hover {
    box-shadow: $box-shadow-primary-hover;
  }

  &:active {
    opacity: .8;
  }
}