@import '../sass/variables';

.board-task,
.board-task--completed {

  &__icons {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;

    padding: .2rem 0;
  
    
    .date-picker-icon {
      display: flex;
      align-items: flex-end;
    }
    
    .react-datepicker-wrapper {
      min-width: 0;
    }
    
    .select-option-icon {
      height: .9em;
      width: .9em;
      margin: 0;
      
      &--calendar {
        height: 1em;
        width: 1em;
        padding: .1rem 0;
        margin-right: .25rem;
        path,
        rect {
          fill: $color-gray-medium;
        }
      }
      
      &--attachment {
        margin-right: .25rem;
        fill: $color-gray-medium;
      }
    }
    
    .icon-container,
    .action-icon-container {
      display: flex;
      align-items: center;
      padding: .5rem;
      margin-right: .75rem;
    }

    .action-icon-container,
    .due-icon-container {  
      &:hover {
        background-color: $color-gray-extra-light;
      }
    }

    .progress-in-progress {
      padding: .1rem;
    }

    .due-icon-container,
    .due-icon-container--late {
      position: relative;
      display: flex;
      align-items: center;
      padding: .25rem .5rem;
      margin-right: 1rem;
      margin-left: .25rem;
      border-radius: .2rem;
    }
    
    .icon-text {
      font-size: 1.2rem;
      color: $color-gray-medium;
      padding-left: .25rem;
    }

    .due-icon-container--late {
      background-color: $color-red-light;
      color: #fff;

      .select-option-icon--calendar {
        path,
        rect {
          fill: #fff;
        }
      }

      .icon-text {
        color: #fff;
      }
    }
  }
}