@import '../sass/variables';

.board-lists {
  display: flex;
  align-items: flex-start;
  max-height: 100%;
}

.add-list {
  text-align: left;
  flex-shrink: 0;
  min-width: 28rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: $color-green-dark;
  border: none;
  background-color: transparent;
  padding: .5rem;
  margin-left: .5rem;
  opacity: .9;
  cursor: pointer;
  outline: none;
  transition: all .2s;

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(.1rem);
  }
}