@import '../sass/variables';
@import '../sass/components';

.board-header {
  display: flex;
  margin-bottom: 2.5rem;
  
  &__project-info {
    display: flex;
    cursor: default;

    &--details {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;
      padding-top: 1rem;
      width: 19rem;
      
      &__name {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: .5rem;
      }

      &__description {
        font-size: 1.3rem;
        color: $color-gray-dark;
      }
    }
  }

  &__project-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.4rem;
    margin-left: 2rem;
    padding: 1rem 0;
    width: 100%;

    &__nav {
      display: flex;
      padding-top: 1rem;
      margin-left: 3rem;

      &__item,
      &__item--active {
        display: flex;
        font-weight: 500;
        margin-right: 1.5rem;
        cursor: pointer;
        position: relative;

        &:hover {
          &::after {
            position: absolute;
            top: 2.25rem;
            content: '';
            display: block;
            height: 2px;
            background-color: $color-green;
            width: 100%;
          }   
        }
      }

      &__item--active {
        &::after {
          position: absolute;
          top: 2.25rem;
          content: '';
          display: block;
          height: 2px;
          background-color: $color-green;
          width: 100%;
        }     
      }
    }

    &--filters {
      display: flex;
    }
  }
}

.project-filters {
  position: relative;
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    padding: .25rem 1rem;
    margin: 0 1.5rem;
    cursor: pointer;

    &:hover {
       background-color: $color-gray-extra-light;
    }


    span {
      flex-shrink: 0;
      margin-right: .5rem;
    }
  }
}