@import '../sass/variables';
@import '../sass/components';

.board-header {
  display: flex;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
  
  &__project-info {
    display: inline-flex;
    cursor: default;
    margin-right: 2rem;
    min-width: 22rem;
    padding-top: 1rem;

    &--details {
      display: flex;
      flex-direction: column;
      margin-left: .5rem;
      padding-top: 1rem;
      
      &__name-container {
        display: flex;
        align-items: flex-start;
      }

      &__name {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: .5rem;
        margin-right: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;

      }

      &__description {
        font-size: 1.3rem;
        color: $color-gray-dark;
      }

      .favorite-icon,
      .non-favorite-icon {
        transform: none;
      }
    }
  }

  &__project-options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.4rem;
    padding: 1rem 0;
    flex: 1;

    &__nav {
      display: inline-flex;
      margin-left: 2.5rem;
      margin-right: 2.5rem;
      padding-top: 1rem;

      &__item,
      &__item--active {
        position: relative;
        display: flex;
        color: $color-gray-dark;
        margin-right: 1.5rem;
        cursor: pointer;

        &:hover {
          &::after {
            position: absolute;
            top: 2.5rem;
            content: '';
            display: block;
            height: 2px;
            background-color: $color-green-dark;
            width: 100%;
          }   
        }
      }

      &__item--active {
        font-weight: bold;

        &::after {
          position: absolute;
          top: 2.5rem;
          content: '';
          display: block;
          height: 2px;
          background-color: $color-green-dark;
          width: 100%;
        }     
      }
    }

    &__filters {
      flex: 1 1 auto;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.project-filters {
  display: flex;
  align-items: center;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
       background-color: $color-gray-extra-light;
    }

    &-title {
      flex-shrink: 0;
      margin: 0 .5rem;
    }

    .dropdown-icon {
      margin-top: .2rem;
    }
  }
}