@import '../sass/variables';
@import '../sass/components';
@import '../sass/animations';

.board-task,
.board-task--completed {
  position: relative;
  background-color: #fff;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  box-shadow: $box-shadow-primary;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-primary-hover;
  }

  &__top-content {    
    padding: .75rem;
    padding-left: 1.25rem;
    cursor: pointer;
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      flex: 1;
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      &::before {
        display: inline-block;
        content: '';
        background-image: url('../assets/progress-not-started.svg');
        background-size: 1.5em 1.5em;
        width: 1.5em;
        height: 1.5em;
        margin-right: .75rem;
      }

      &:hover {
        &::before {
          display: inline-block;
          content: '';
          background-image: url('../assets/progress-completed.svg');
          background-size: 1.5em 1.5em;
          width: 1.5em;
          height: 1.5em;
          margin-right: .75rem;
        } 
      }
    }

    .options-icon {
      align-self: flex-start;
    }
  }

  &__content {
    position: relative;
    padding-bottom: 1rem;
    cursor: pointer;
  }

  &__assignee {
    border-top: 1px solid $color-gray-light;
    cursor: pointer;

    .task-assignment {
      display: flex;
      padding-right: 1rem;
    }

    .member-search-result {
      margin-top: 6rem;
    }
    
    &:hover {
      background-color: $color-gray-extra-light;

      .add-user-icon-after {
        opacity: 1;
      }  
    }

    .add-user-icon-before {
      display: none;
    }

    .add-user-icon-after {
      opacity: 0;
      height: 2em;
      width: 2em;

      &:hover {
        background: unset;
      }
    }
    
    .board-members-dropdown-list {
      padding: .5rem 1rem;
      
      .member-profile-item {
        padding-left: .5rem;
      }
    }

    .member-profile-item {
      padding-left: 1.25rem;
    }
  }
  
  .more-options {
    top: 3rem;
    right: 0;
    z-index: 100;
    cursor: pointer;
  }
}

.board-task--completed {
  &__heading {
    span {
      text-decoration: line-through;
    }
  }
}