@import '../sass/components';
@import '../sass/variables';

.board-members-dropdown-list {
  margin-top: 1rem;
  overflow-y: auto;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    .board-members-dropdown-item {
      flex: 1;
    }
  }  
}