@import '../sass/variables';

.board-groupby-item,
.board-groupby-item--selected {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem 0;

  .checkmark-icon {
    margin-left: .5rem;
  }

  &:hover {
    background-color: $color-gray-extra-light;
  }

  &__text {
    margin-left: .5rem;
  }
}

.board-groupby-item {
  .checkmark-icon {
    opacity: 0;
  }

  &--selected {
    .checkmark-icon {
      opacity: 1;
    } 
  }
}

