@import '../sass/variables';

.board-task-add {
  margin-bottom: 2rem;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-primary;
    z-index: 2;
    
    &--top {
      padding: 1.25rem;

      & > * {
        margin: 1rem 0;
      }
    }

    &:hover {
      box-shadow: $box-shadow-primary-hover;
    }
  }
}