@import '../sass/variables';

.board-members-dropdown-item {
  display: flex;
  align-items: center;  
  padding: 1rem;

  &__user-name {
    margin-left: 1rem;
  }
}

.add-member-to-project {
  cursor: pointer;
}