@import '../sass/variables';

.board-list-add {
  width: 30rem;
  z-index: 2;

  &__input {
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: .5rem 1rem;
    padding-left: 1rem;
    background-color: $color-gray-extra-light;
  }
}