@import '../sass/variables';

.board-task-details-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.board-task-details {
  font-size: 1.4rem;
  position: relative;
  max-height: 100vh;
  max-width: 80rem;
  min-width: 40rem;
  width: 50%;
  padding: 3rem 5rem;
  background-color: #fff;
  box-shadow: 0 0 .7rem $color-gray-medium;
  border-radius: .3rem;  
  overflow-y: auto;
  animation: fade .2s cubic-bezier(0.1, 0.9, 0.2, 1) both;
  z-index: 11;

  .add-user-icon-after {
    display: none;
  }

  h4 {
    font-weight: normal;
    font-size: 1.2rem;
    color: $color-gray-medium;
    margin-bottom: .75rem;
  }

  &__name {
    display: flex;
    align-items: flex-start;

    .select-option-icon {
      transform: translateY(.2rem);
    }

    h2,
    .name-change-form {
      flex: 1;
      font-size: 2rem;
      font-weight: 500;
      max-width: 100%;
      margin-bottom: .5rem;
      
      input {
        padding: 0;
      }

    }
    
    h2 {
      cursor: text;

      &:hover {
        background-color: $color-gray-extra-light;
      }
    }
    
    .select-option-icon {
      height: 1.75em;
      width: 1.75em;
    }
  }

  &__header {
    margin-bottom: 3rem;

    .task-last-updated {
      font-size: 1.2rem;
      color: $color-gray-medium;
      padding-left: 3.5rem;
    }
  }

  &__dropdowns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 1.4rem;

    .react-datepicker-wrapper {
      flex: 1 1 20rem;
      margin-right: 1rem;
      margin-left: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__description {
    margin-bottom: 2rem;
  }

  .description-placeholder {
    color: $color-gray-medium;
  }

  &__attachments {
    margin-bottom: 3rem;
  }

  &__comment-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .save-text {
      align-self: flex-end;
    }
  }

  &__text-input {
    display: block;
    font-family: inherit;
    font-size: inherit;
    width: 100%;
    outline: none;
    border: none;
    padding: .75rem 1rem;
    background-color: $color-gray-extra-light;
    min-height: 9rem;
    cursor: text;
    margin-bottom: 2rem;
  }

  &__assignment {
    position: relative;
  }

  .task-assignment-dropdown {
    max-width: 28rem;
  }
}

.dummy-comment-task-name {
  margin: 0 .5rem;
  color: $color-blue-light;
}