@import '../sass/variables';

.board-members-dropdown {
  position: absolute;
  top: 5rem;
  right: 70%;
  background-color: #fff;
  padding: 1rem;
  width: 27rem;
  box-shadow: $box-shadow-primary;
  animation: fadeFromTop .2s;
  z-index: 100;

  &__list {
    margin-top: 1rem;
    overflow-y: auto;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-left: 1rem;
  }
}