@import '../sass/components';
@import '../sass/variables';

.board-members-dropdown-list {
  position: relative;
  max-height: 28rem;
  overflow-y: auto;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    &:hover {
      background-color: $color-gray-extra-light;
    }
  
    .member-profile-item {
      flex: 1;
    }
  }  
}