@import '../sass/variables';

.board-members-dropdown {
  position: absolute;
  top: 5rem;
  right: 70%;
  background-color: #fff;
  width: 28rem;
  box-shadow: $box-shadow-primary;
  animation: fadeFromTop .3s cubic-bezier(0.1, 0.9, 0.2, 1);
  z-index: 100;

  &__header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    padding: 1rem 1.5rem;
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .more-options {
    top: 8.3rem;
    right: 0;
    width: 100%;
    padding: 1rem;

    .member-profile-item {
      cursor: pointer;

      &:hover {
        background-color: $color-gray-extra-light;
      }
    }
  }
}