.change-password {
  padding: 0 1rem;
  max-width: 50rem;

  &__form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  &__label {
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  .custom-input {
    margin-bottom: 1.5rem;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding: 1.25rem 0 2.5rem;

    button {
      margin: 0 3rem;
    }
  }
}