@import '../sass/variables';

.custom-input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: .5rem 1rem;
  background-color: $color-gray-extra-light;
  width: 100%;
  outline: none;
}