@import '../sass/components';
@import '../sass/variables';

.custom-select {
  position: relative;
  flex: 1 1 20rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;

  &__label {
    font-size: 1.2rem;
    color: $color-gray-dark;
    margin-bottom: .5rem;
  }

  &__input,
  &__input--active {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 15rem;
    padding: .75rem;
    padding-left: 1.25rem;
    background-color: $color-gray-extra-light;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    z-index: 0;
    transition: border .2s;
  }
  
  &__input--active {
    border-bottom: 2px solid $color-green-dark;
  }

  .more-options {
    padding: 0.1rem;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: none;
    background-color: #fff;
    border: 1px solid $color-gray-light;
    border-top: 1px solid $color-gray-extra-light;
  }
}