@import '../sass/variables';

.custom-button {
  background: #485563;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #232526, #414345);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #232526, #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  border: 1px solid transparent;
  border-radius: .3rem;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: all .1s;

  @media screen and (min-width: 600px) {
    &:hover,
    &:active {
      opacity: .8;
    }

    &:active {
      transform: scale(.98);
    }
  }
}

.danger {
  background: $color-red-light;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $color-red-light, $color-red-dark);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $color-red-light, $color-red-dark); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  text-transform: uppercase;
  border: none;
  border: 1px solid transparent;
  border-radius: .3rem;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: all .1s;

  @media screen and (min-width: 600px) {
    &:hover,
    &:active {
      opacity: .7;
    }

    &:active {
      transform: scale(.98);
    }
  }
}

.submit-task {
  background-color: $color-green-dark;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border: 1px solid transparent;
  padding: 1rem 4rem;
  cursor: pointer;
  transition: all .1s;

  @media screen and (min-width: 600px) {
    &:hover,
    &:active {
      opacity: .9;
    }

    &:active {
      transform: scale(.98);
    }
  }
}

.save-text {
  background-color: #fff;
  color: $color-gray-medium;
  text-transform: capitalize;
  padding: .75rem 2.25rem;
  background-color: $color-gray-extra-light;
  border: 1px solid transparent;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all .1s;
  border-radius: .3rem;

  @media screen and (min-width: 600px) {
    &:hover,
    &:active {
      background-color: #fff;
      color: $color-gray-dark;
      border: 1px solid $color-gray-light;
    }

    &:active {
      transform: scale(.98);
    }
  }
}