@import '../sass/variables';

.file-upload {
  text-align: left;
  margin-bottom: 1.5rem;

  input[type=file] {
    display: none;
  }

  input[type=file] + label {
    display: inline-block;
    background-color: #fff;
    color: $color-gray-dark;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: inherit;
    border: 1px solid $color-gray-light;
    box-shadow: $box-shadow-button;
    padding: .75rem 1.75rem;
    cursor: pointer;
    transition: all .1s;
  
    &:hover,
    &:active {
      background-color: $color-gray-extra-light;
    }

    &:active {
      transform: scale(.98);
    }
  }
}