@import '../sass/variables';

.member-profile-item {
  display: flex;
  align-items: center;  
  padding: 1rem .75rem;

  &__user-name {
    margin-left: 1rem;
  }
}

.add-member-to-project {
  cursor: pointer;
}