@import '../sass/variables';
@import '../sass/animations';

.more-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  top: 5.5rem;
  right: 3rem;
  color: $color-gray-dark;
  text-align: left;
  background-color: #fff;
  min-width: 18rem;
  padding: 1rem .5rem;
  box-shadow: 0 0 1rem rgba(#333, .3);
  border-radius: 2px;
  z-index: 100;
  overflow-y: auto;
  animation: fadeFromTop .2s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.more-options-item {
  padding: .5rem 2rem;
  cursor: pointer;
  
  &:hover {
    background-color: $color-gray-light;
  }
}