@import '../sass/variables';
@import '../sass/components';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #fff;
  background-color: $color-gray-dark;
  
  &__logo-container {
    display: flex;
    align-items: center;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.98);
    }
  }

  .logo {
    width: 1em;
    height: 1em;
    path {
      fill: #fff;
    }
  }

  &__logo-text {
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 1rem;
  }

  &__navigation {
    display: flex;
    align-items: center;
    
    &--welcome-message {
      margin-right: 2rem;
    }
  }
}