@import '../sass/variables';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.5rem;
  margin-bottom: 8rem;
  color: #fff;
  background-color: $color-gray-dark;

  &__logo-container {
    display: flex;
    align-items: center;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    transition: all .2s;

    &:hover {
      opacity: .8;
    }

    &:active {
      transform: scale(.96);
    }
  }

  &__logo {
    width: 2.5rem;
    height: 2.5rem;
  }

  &__logo-text {
    font-size: 1.8rem;
    padding-left: 1rem;
  }

  &__navigation {
    display: flex;
    align-items: center;

    &--profile-pic {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      height: 3.5rem;
      width: 3.5rem;
      color: #fff;
      background-color: orangered;
      padding: .9rem;
      margin-left: 2rem;
      border-radius: 50%;
      cursor: pointer;
      letter-spacing: 1px;
      transition: transform .2s;

      &:active {
        transform: scale(.95);
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; 
}