@import '../sass/variables';

.project-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;

  &__main-content {
    display: flex;
    align-items: flex-start;
    flex: 1;
  }
}