@import '../sass/variables';
@import '../sass/mixins';

.project-overview {
  flex: 1;
  margin-top: 3rem;
  padding: 4rem;
  padding-top: 0;
  overflow: auto;

  @include respond(phone) {
    padding: 1rem;
    padding-top: 0;
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    padding: .5rem;
  }

  &__heading {
    font-weight: 300;
    font-size: 2.5rem;
  }

  &__list {
    margin-bottom: 3rem;
    padding-left: 1rem;

    &-header {
      color: $color-gray-dark;
      margin-bottom: 3.5rem;
    }
  }
}