@import '../sass/variables';

.project-list-item {
  position: relative;
  flex: 0 0 34rem;
  display: flex;
  margin: .5rem 2rem 1.5rem 0;
  box-shadow: $box-shadow-primary;
  cursor: pointer;

  &:hover {
    box-shadow: $box-shadow-primary-hover;
  }
  
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem .5rem;

    &--top {
      flex: 1;
      display: flex;
      justify-content: space-between;
    }
  }

  &__name,
  &__description {
    flex: 1 1;
  }

  &__name {
    color: $color-gray-dark;
    padding-top: .5rem;
  }

  &__description {
    font-size: 1.4rem;
    color: #838383;
  }

  .options-icon {
    margin-top: -.5rem;
  }

  .more-options {
    top: 3rem;
    right: 0;
  }

  .favorite-icon,
  .non-favorite-icon {
    height: 1em;
    width: 1em;
    margin-right: .5rem;
    opacity: 0;
  }

  &:hover {
    .favorite-icon,
    .non-favorite-icon {
      opacity: 1;
    } 
  }
}