@import '../sass/variables';

.project-details {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__main-content {
    display: flex;
    align-items: flex-start;
    overflow: auto;
    padding: .5rem 2rem;
    flex: 1;
  }
}