@import '../sass/variables';

.project-overview {
  margin-top: 3rem;
  padding: 0 4rem;
  padding-bottom: 5rem;

  &__header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    padding: .5rem;
  }

  &__heading {
    font-weight: 300;
    margin-bottom: 3rem;
  }

  &__list {
    margin-bottom: 4rem;
    padding-left: 1rem;

    &-header {
      color: $color-gray-dark;
      margin-bottom: 3.5rem;
    }
  }
}