@import '../sass/variables';

.sign-up-page {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;

  input {
    -webkit-appearance: none;
    border-radius: 0;
  }
  

  @media screen and (min-width: 600px) {
    margin-top: 6rem;
  }

  span {
    display: inline-block;
    margin-right: 1rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @media screen and (min-width: 600px) {
      width: 45rem;
      box-shadow: 0 0 3rem rgba(#000, .1), 0 1rem 5rem rgba(#000, .1);
      border-radius: .3rem;
      padding: 3rem 0;
    }
  }
  
  .sign-up-form {
    width: 70%;
    background: #fff;
  }
  
  .sign-up-title {
    align-self: center;
    color: $color-gray-dark;
    margin-bottom: 4rem;
    font-size: 170%;
    font-weight: 500;

    @media screen and (min-width: 600px) {
      align-self: center;
      color: $color-gray-dark;
      font-size: 200%;
    }
  }
  
  .buttons-container {
    text-align: center;
    margin: 1.5rem 0;
  }
  
  .register-link {
    color: $color-gray-dark;
    font-size: 130%;
    font-weight: 600;
    cursor: pointer;      
    margin-top: 1rem;
  
    &:hover {
      opacity: .7;
    }
  }
  
  .more-auth-options {
    text-align: center;
    margin-bottom: 1rem;
  }
}
