@import '../sass/variables';

.snackbar {
  display: inline-flex;
  position: fixed;
  left: 3rem;
  bottom: 3rem;
  color: white;
  padding: 1.25rem 2rem;
  background-color: $color-gray-dark;
  box-shadow: $box-shadow-primary;
  border-radius: .3rem;
  max-width: 50rem;
  animation: fadeFromBottom .3s;

  &__action {
    align-self: flex-end;
    text-transform: uppercase;
    font-weight: 500;
    color: $color-green-light;
    margin-left: 3rem;
    cursor: pointer;
  }
}