@import '../sass/animations';
@import '../sass/variables';

.spinner-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 3px solid $color-gray-light;
  border-radius: 50%;
  border-top-color: $color-gray-dark;
  animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}