.user-profile-picture {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  color: #fff;
  padding: .9rem;
  border-radius: 50%;
  cursor: pointer;
  letter-spacing: 1px;
  transition: transform .2s;

  &:active {
    transform: scale(.95);
  }

  &:hover {
    opacity: .9;
  }
}