.user-profile-picture {
  display: flex;
  font-size: 1.4rem;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 3.25rem;
  width: 3.25rem;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform .1s;

  &:active {
    transform: scale(.95);
  }

  &:hover {
    opacity: .8;
  }
}